<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>macSKK *</string>
		<key>keyBindings</key>
		<array>
			<dict>
				<key>action</key>
				<string>hiragana</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<string>j</string>
						<key>modifierFlags</key>
						<integer>262144</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>toggleKana</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<string>q</string>
						<key>modifierFlags</key>
						<integer>0</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>toggleAndFixKana</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<string>q</string>
						<key>modifierFlags</key>
						<integer>0</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>hankakuKana</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<string>q</string>
						<key>modifierFlags</key>
						<integer>262144</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>direct</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<string>l</string>
						<key>modifierFlags</key>
						<integer>0</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>zenkaku</string>
				<key>inputs</key>
				<array/>
			</dict>
			<dict>
				<key>action</key>
				<string>abbrev</string>
				<key>inputs</key>
				<array/>
			</dict>
			<dict>
				<key>action</key>
				<string>directAbbrev</string>
				<key>inputs</key>
				<array/>
			</dict>
			<dict>
				<key>action</key>
				<string>japanese</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<string>q</string>
						<key>modifierFlags</key>
						<integer>131072</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>stickyShift</string>
				<key>inputs</key>
				<array/>
			</dict>
			<dict>
				<key>action</key>
				<string>enter</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<integer>36</integer>
						<key>modifierFlags</key>
						<integer>0</integer>
						<key>optionalModifierFlags</key>
						<integer>655360</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>space</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<integer>49</integer>
						<key>modifierFlags</key>
						<integer>0</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>shiftSpace</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<integer>49</integer>
						<key>modifierFlags</key>
						<integer>131072</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>backwardCandidate</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<string>x</string>
						<key>modifierFlags</key>
						<integer>0</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>tab</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<integer>48</integer>
						<key>modifierFlags</key>
						<integer>0</integer>
						<key>optionalModifierFlags</key>
						<integer>131072</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>backspace</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<integer>51</integer>
						<key>modifierFlags</key>
						<integer>0</integer>
						<key>optionalModifierFlags</key>
						<integer>655360</integer>
					</dict>
					<dict>
						<key>key</key>
						<string>h</string>
						<key>modifierFlags</key>
						<integer>262144</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>delete</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<integer>117</integer>
						<key>modifierFlags</key>
						<integer>8388608</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>key</key>
						<string>d</string>
						<key>modifierFlags</key>
						<integer>262144</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>cancel</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<integer>53</integer>
						<key>modifierFlags</key>
						<integer>0</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>key</key>
						<string>g</string>
						<key>modifierFlags</key>
						<integer>262144</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>left</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<integer>123</integer>
						<key>modifierFlags</key>
						<integer>8388608</integer>
						<key>optionalModifierFlags</key>
						<integer>655360</integer>
					</dict>
					<dict>
						<key>key</key>
						<string>b</string>
						<key>modifierFlags</key>
						<integer>262144</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>right</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<integer>124</integer>
						<key>modifierFlags</key>
						<integer>8388608</integer>
						<key>optionalModifierFlags</key>
						<integer>655360</integer>
					</dict>
					<dict>
						<key>key</key>
						<string>f</string>
						<key>modifierFlags</key>
						<integer>262144</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>down</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<integer>125</integer>
						<key>modifierFlags</key>
						<integer>8388608</integer>
						<key>optionalModifierFlags</key>
						<integer>131072</integer>
					</dict>
					<dict>
						<key>key</key>
						<string>n</string>
						<key>modifierFlags</key>
						<integer>262144</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>up</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<integer>126</integer>
						<key>modifierFlags</key>
						<integer>8388608</integer>
						<key>optionalModifierFlags</key>
						<integer>131072</integer>
					</dict>
					<dict>
						<key>key</key>
						<string>p</string>
						<key>modifierFlags</key>
						<integer>262144</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>startOfLine</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<string>a</string>
						<key>modifierFlags</key>
						<integer>262144</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>endOfLine</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<string>e</string>
						<key>modifierFlags</key>
						<integer>262144</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>unregister</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<string>x</string>
						<key>modifierFlags</key>
						<integer>131072</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>registerPaste</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<string>y</string>
						<key>modifierFlags</key>
						<integer>262144</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>reconvert</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<string>/</string>
						<key>modifierFlags</key>
						<integer>262144</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>affix</string>
				<key>inputs</key>
				<array/>
			</dict>
			<dict>
				<key>action</key>
				<string>eisu</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<integer>102</integer>
						<key>modifierFlags</key>
						<integer>0</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>action</key>
				<string>kana</string>
				<key>inputs</key>
				<array>
					<dict>
						<key>key</key>
						<integer>104</integer>
						<key>modifierFlags</key>
						<integer>0</integer>
						<key>optionalModifierFlags</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
		</array>
		<key>version</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
